<nav>
      
        <div class="menuCachet">
          <div class="down"> <!-- div que pour le bouton -->
            <button (click)="open()" class="btn">Menu☰</button>
            <div class="down-content"> <!--div pour le menu cachet-->
              
                <ul>
                  <li><a routerLink = "accueil"routerLinkActive="active" > Accueil </a></li>
                  <li><a routerLink = "monparcours" routerLinkActive="active"> Mon parcours </a></li>
                  <li><a routerLink = "outils-et-methodes" routerLinkActive="active"> Outils et methodes</a></li>
                  <li><a routerLink = "astuces" routerLinkActive="active">Astuces </a></li>
                  <li><a routerLink = "prestations" routerLinkActive="active"> Mes prestations </a></li>
                  <li><a routerLink = "contact" routerLinkActive="active"> Contact</a></li>
                </ul>                                                    
                              
            </div>
          </div>
           
        </div> 
              
  <div class="menu"> <!--menu qui apparaitra quand l'écran sera plus grand-->
              <ul>

                <li><a routerLink = "accueil" routerLinkActive="active"> Accueil </a></li> 
                <li><a routerLink = "monparcours" routerLinkActive="active"> Mon parcours </a></li> 
                <li><a routerLink = "outils-et-methodes" routerLinkActive="active"> Outils et méthodes </a></li>
                <li><a routerLink = "astuces" routerLinkActive="active">Astuces </a></li>  
                <li><a routerLink = "prestations" routerLinkActive="active" > Mes prestations </a></li>  
                <li><a routerLink = "contact" routerLinkActive="active"> Contact</a></li>
                
              </ul>
  </div>
</nav>